<head>
  <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
  <script src='lib/jquery.min.js'></script>
  <script src='lib/moment.min.js'></script>
  <script src='fullcalendar/fullcalendar.js'></script>
<head>
<h1 align="center">予約表</h1>
<div id="calendar"></div>
<div align="center"><%= link_to "予約する", calendar_reserve_path %>
